@import "variables";
*{
  @extend %box-sizing;
}
.koala-form {
  @include border(1px, $grayColor,$mainBorderRadius * 2);
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  .form-header{
    margin-bottom: 25px;
    font-family: $mainFontFamily;
    .form-title{
      color: $blackColor;
      &:after{
        content: '';
        border-bottom: 3px solid $focusedColor;
        display: block;
        width: 25px;
        margin-top: 10px;
      }
    }
  }
  .koala-label{
    font-family: $mainFontFamily;
    color: $blackColor;
    font-size: 12px;
    font-weight: bold;
  }
  .koala-fieldset{
    @include border(1px, $grayColor,$mainBorderRadius);
    padding: 10px;
    .koala-legend{
      margin-right: auto;
      margin-left: auto;
      padding: 0 7px;
      font-family: $mainFontFamily;
      color: $blackColor;
    }
  }
  .koala-input-field, .koala-search-field {
      @extend %input;
  }
  .koala-textarea-field{
    @extend %input;
    height: 80px;
  }
  .koala-input-button{
    width: $defaultFormWidth;
    height: $inputHeight;
    padding: 3px 8px;
    outline: none;
    margin: $publicMargin - 5px;
    font-weight: bold;
    border-radius: $mainBorderRadius;
    @include border(1px, $focusedColor,$mainBorderRadius / 2);
    background-color: $focusedColor;
    opacity: 0.8;
    color: #fff;
    &:hover,&:focus{
      cursor: pointer;
      transition: all .3s ease-in-out;
      opacity: 1;
    }
    &:disabled:hover{
      cursor: not-allowed;
    }
    &:disabled, &:disabled:hover{
      opacity: 0.5;
    }
  }
  .koala-input-number{
    @extend %input;
    padding-right: 0;
    appearance: none;
  }
  .koala-input-range{
    cursor: pointer;
    appearance: none;
    background-color: #dee2e6;
    border-radius: 25px;
    height: 7px;
    width: 100%;
    outline: none;
    opacity: 1;
    &::-webkit-slider-thumb{
      background-color: $focusedColor;
      border-radius: 50%;
      transition: box-shadow .2s ease-in-out;
    }
    &::-moz-range-thumb{
      background-color: $focusedColor;
      border: none;
      border-radius: 50%;
      transition: box-shadow .2s ease-in-out;
    }
    &:focus::-webkit-slider-thumb{
      box-shadow: $boxShadow;
      border-radius: 50%;
      background-clip: content-box;
    }
    &:focus::-moz-range-thumb{
      box-shadow: $boxShadow;
      border-radius: 50%;
      background-clip: content-box;
    }
  }
  .koala-input-file{
    @extend %input;
    font-weight: unset;
    padding: 0;
    margin: 0 0 $publicMargin 0;
    line-height: 0;
    &::file-selector-button{
      height: 100%;
      border: none;
      border-right: 1px solid $grayColor;
      margin-right: 10px;
      color: $blackColor;
      font-weight: unset;
      outline: none;
    }
    &::-webkit-file-upload-button{
      height: 100%;
      border: none;
      border-right: 1px solid $grayColor;
      margin-right: 10px;
      color: $blackColor;
      font-weight: unset;
      outline: none;
    }
  }
  .koala-input-color{
    @extend %box-sizing;
    border: 1px solid $grayColor;
    border-radius: 5px;
    width: 40px;
    height: 35px;
    background-color: #fff;
    outline: none;
    &::-webkit-color-swatch{
      border: none;
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
    &::-moz-color-swatch{
      border: none;
      border-radius: 5px;
      height: 90%;
      margin-left: -1px;
      width: 109%;
    }
  }
  .koala-input-date{
    @extend %input;
    padding-right: 0;
    &::-webkit-datetime-edit {
      color: #6C757D;
      font-family: $mainFontFamily;
    }
    &::-webkit-calendar-picker-indicator{
      opacity: 0.6;
      background-color: #e9ecef;;
      padding: 25% 10px;
      border-left: 1px solid $grayColor;
      color: #DC3545;
    }
  }
  .koala-input-time{
    @extend .koala-input-date;
    &::after{
      //content: '\f017';
    }
  }
  .koala-type-date{
    @extend %input;
    padding:0 8px;
    font-family: $mainFontFamily;
    color: #6C757D;
  }
  .koala-type-time{
    @extend .koala-type-date;
  }

  .koala-check-type{
    @extend %koala-check-type;
    .koala-radio{
      &:checked {
        @extend %radio-checked;
      }
    }
  }
  .koala-check{
    .check-title{
      font-family: $mainFontFamily;
      color: $blackColor;
      margin-bottom: 15px;
    }
    .koala-check-type {
      .koala-checkbox {
        @extend %koala-checkbox;
        &:checked{
          @extend %checkbox-checked;
        }
      }
      .koala-check-label{
        @extend %koala-check-label;
      }
    }
  }
}
@mixin formResponsive ($width){
  .koala-form{
    width: $width;
  }
}
@media only screen and (max-width: 1000px){
  @include formResponsive(33.33333%);
}
@media only screen and (max-width: 768px){
  @include formResponsive(50%);
}
@media only screen and (max-width: 576px){
  @include formResponsive(75%);
}