$checkboxColor:dodgerblue;
$checkboxMarkColor:white;
$uncheckedBorderColor:#d8e4e2;

.kCheckBoxInput {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    .defaultCheckBox{
        display: none;
    }
    .kCheckBox {
        width: 1.25em;
        height: 1.25em;
        border: 2px solid $uncheckedBorderColor;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        flex-shrink: 0;
        transition: background 0.15s, border-color 0.15s;
    }
    .kCheckBox::after{
        content: '\2714';
        color: $checkboxMarkColor;
        transform: scale(0);
        transition: transform 0.15s;
    }
    .defaultCheckBox:checked + .kCheckBox{
        background: $checkboxColor;
        border-color: $checkboxColor;
    }
    .defaultCheckBox:checked + .kCheckBox::after{
        transform: scale(1);
    }
}
