@import "defaultForm";
$koalaPrimaryOpacity: rgba(0,105,217,.3);
$koalaDangerOpacity:rgba(200,35,51,.3);
$koalaSuccessOpacity:rgba(33,136,56,.3);
$koalaWarningOpacity:rgba(224,168,0,.3);
@mixin button-colors($koala-border-color,$koala-background-color){
  @include border(1px, $koala-border-color, $mainBorderRadius);
  background-color: $koala-background-color;
  border-color: $koala-border-color;
  color: $koala-border-color;
}
%koala-outline-border {
  @include border(1px,$focusedColor, $mainBorderRadius);
  background-color: $lightColor;
  color: $focusedColor;
  &:hover, &:focus {
    outline: none;
    cursor: pointer;
    color: $lightColor;
    background-color: $focusedColor;
  }
}
%koala-background-color-button {
  @extend %box-sizing;
  @include border(1px, $focusedColor, $mainBorderRadius);
  background-color: $focusedColor;
  color: #fff;
  opacity: .79;
  &:hover, &:focus {
    background-color: $focusedColor;
    opacity: 1;
  }
  &:disabled, &[disabled]:hover{
    opacity: .4;
    background-color: $secondaryColor;
    cursor: not-allowed;
    border-color: $secondaryColor;
  }
}
.koala-form{
  .koala-outline-border{
    @include border(1px,$focusedColor, $mainBorderRadius);
    background-color: $lightColor;
    color: $focusedColor;
    border-radius: $mainBorderRadius / 2;
    &:hover, &:focus {
      outline: none;
      cursor: pointer;
      color: $lightColor;
      background-color: $focusedColor;
    }
  }
  .koala-button-bRadius{
    border-radius: $mainBorderRadius * 3;
  }
  @each $koala-outline-color, $color in (koala-outline-success, $successValid),(koala-outline-danger, $failValid),
          (koala-outline-golden, $warningValid) {
    .#{$koala-outline-color} {
      @include button-colors($color,$lightColor);
      border-color:$color;
      &:hover,&:focus{
        background-color: $color;
        border-color: $color;
        color: #fff;
      }
      &:disabled,&[disabled]:hover{
        opacity: .5;
        background-color: $lightColor;
        color:$color;
      }
    }
  }
  .koala-opacity-button{
    background-color: $koalaPrimaryOpacity;
    color: $focusedColor;
    border: none;
    &:focus, &:hover{
      background-color: $focusedColor;
      color: $lightColor;
      transition: all ease-in-out .3s;
    }
  }
  @each $koala-opacity-button-color, $color, $color-opacity in (koala-opacity-button-success,
  $successValid,$koalaSuccessOpacity),(koala-opacity-button-danger,
  $failValid,$koalaDangerOpacity),(koala-opacity-button-warning,
  $warningValid,$koalaWarningOpacity)
  {
    .#{$koala-opacity-button-color} {
      background-color: $color-opacity;
      color: $color;
      border: none;
      &:hover,&:focus{
        background-color: $color;
        color: #fff;
      }
    }
  }
  .koala-link-button{
    border: none;
    background-color:$lightColor;
    color: $focusedColor;
    &:hover,&:focus{
      background-color: $focusedColor;
      color: $lightColor;
      cursor: pointer;
    }
    &:disabled , &[disabled]:hover{
      cursor: not-allowed;
    }
  }
  @each $koala-link-color, $color in (koala-link-success, $successValid),
          (koala-link-danger, $failValid),
          (koala-link-golden, $warningValid),
  {
    .#{$koala-link-color} {
      color:$color;
      &:hover,&:focus{
        background-color: $color;
        color: $lightColor;
        text-decoration: none;
      }
      &:disabled,&[disabled]:hover{
        background-color: $lightColor;
        color: $color;
        opacity: 0.5;
      }
    }
  }
  @each $koala-input-button, $color in (koala-input-button-success, $successValid),
          (koala-input-button-danger, $failValid),
          (koala-input-button-warning, $warningValid),
  {
    .#{$koala-input-button} {
      background-color: $color;
      color: $lightColor;
      opacity: 0.8;
      border: none;
      &:hover,&:focus{
        opacity: 1;
      }
      &:disabled, &:disabled:hover{
        opacity: 0.5;
      }
    }
  }
}
