$radio-color:#2196F3;
// only demo styles
body {
  font-family: sans-serif, Arial;
}
//end only demo styles
.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .radio-inset {
    width: 15%;
    .radio-custom {
      opacity: 0;
      position: absolute;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: inline-block;
      margin: 5px;
      cursor: pointer;
      vertical-align: middle;
      & + .radio-custom-label:before {
        content: '';
        background: #fff;
        border: 2px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        padding: 2px;
        margin-right: 20px;
        text-align: center;
        border-radius: 50%;
      }
      &:checked + .radio-custom-label:before {
        background: $radio-color;
        box-shadow: inset 0 0 0 4px #fff;
        border: 1px solid $radio-color;
      }
    }
    .radio-custom-label {
      position: relative;
      display: inline-block;
      margin: 5px;
      cursor: pointer;
      vertical-align: middle;
    }
  }
}